* {
    margin: 0;
}

/* styling for header elements */
#hero_image {
    height: 60em;
    width: 100%;
    opacity: 0.3;
}
#icon_holder {
    position: relative;
}
.header {
    background-color: rgba(0, 0, 0, 0.479);
    position: sticky;
    top: 0;
}
.header img {
    position: fixed;
    top: 10px;
    left:40px;
    width: 90px;
    float: left;
}
i {
    width: 40px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul li {
    display:inline-block;
    width: 130px;
    list-style: none;
    font-size: 20px;
    padding: 30px 25px;
    margin: 15px 0;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: green;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}


#icon {
    scale: 1.3;
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 20;  
}


#icon:hover {
    scale: 1.9;
    background-color: rgb(245, 229, 176);
}

#icon_holder {
    background: black;
}

 /* Header Navigation bar styles */

.hero_text {
    color: white;
    position: absolute;
    top: 45%;
    text-align: center;
    left: 0; 
    right: 0; 
    margin-inline: auto;
}

.social_media {
    position: fixed;
    bottom: 30px;
    right: 40px;
    float: right;
    background-color: #222222;
    border-radius: 10px;   
    z-index: 10;
}

.smedia_icon {
    
    width: 20px;
    scale: 1.3;
    padding: 10px 15px;
}
#fb_icon {
    scale: 0.9;
}
#fb_icon:hover {
    padding: 10px 15px;
    scale: 1.3;
    background-color: #7B7B7B;
    border-radius: 15px;
}
.smedia_icon:hover {
    scale: 1.7;
    background-color: #7B7B7B;
    border-radius: 15px;
}





/* Experiences Section  */
.Experiences_section {
    background-color: #F2F0EF;
    padding-top: 30px;
}
.experiences_header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}
#experience_introduction {
    margin-left: 6%;
}

.experience_body_content { 
    display: flex;
    justify-content: center;
    margin-top: 12px;

}
.experiences_header_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header main";
    background-color: #F2F0EF;
    width: 85%;
    border-radius: 20px;
    /* box-shadow: -0 4px 2px -2px #7B7B7B; */

}
.experiences_h2 {
    background-color: #F2F0EF;
    font-size: 1.4em;
    width: 40%;
    margin:0 10px ;
    margin-left: 6%;
    
}
.experiences_header_p {
    background-color: #F2F0EF;
    grid-area: main;
    width: 50%;
    padding-top: 7%;
}
.experiences_proffesion_content .dot {
    width: 7px;
    height: 7px;
    
}






.experience_body_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header main sidebar";
    width: 85%;
    background-color: #F2F0EF;
    margin-bottom: 15px;
    box-shadow: -0 4px 2px -2px #7B7B7B;
    border-radius: 20px;
}
.experience_b_sect1 {
    grid-area: header;
    display: inline-block;
    background-color: #F2F0EF;
    width: 100%;
    font-size: 1.1em;
    padding-top: 10px;
    padding-left: 9%;
}
.experience_b_sect2 {
    grid-area: main;
    background-color:#F2F0EF;
    display: inline-block;
    width: 100%;
    font-size: 1.2em;
    padding-top: 10px;
    padding-left: 9%;
}
.experience_b_sect3{
    grid-area: sidebar;
    background-color: #F2F0EF;
    display: inline-block;
    width: 100%;
    padding:10px 13px;
}
.experience_b_sect2 p {
    width: 280px;
    margin: auto;
    text-align: center;
    color: #414A4C;
}
.experience_b_sect3 > .experiences_proffesion {
    position: relative;
    left: 50%;
}
.experiences_proffesion {
    display: inline-block;
}
.experiences_proffesion_content {
    margin: 0 7px 0;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    font-size: 1em;
    background-color:#FFFFFF;
}
.experience_b_sect1 p {
    color: #414A4C;
    padding-left: 19px;
}





/* Consultation Section */
.consultation_section {
    position: relative;
    padding-bottom: 15px;
}
.consultation_body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F0EF;
    padding-top: 30px;
    border-radius: 0 15px 40px;
}
.consultation_image {
    background: black;
    display: inline-block;
    width: 90%;
    border-radius: 3%;
}
.consultation_image img{
    height: 650px;
    width: 100%;
    opacity: 0.5;
    border-radius: 3%;
}
.consultation_text {
    position: absolute;
    left: 29%;
    color: #FFFFFF;
    top: 200px;
    text-align: center;
    width: 700px;
}
.consultation_text p {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.consultation_text h2 {
    font-size: 1.9em;
}
.consultation_link{
    background-color: #222222;
    border-radius: 10px;
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 15px;
}

.consultation_link:hover{
    background-color: #7B7B7B;
    color: black;
    font-size: 1.2em;
}


/* Latest Section  */
.latest_works {
    background-color: #F1EFEC;
    border-radius: 5%;
}
.latest_body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.latest_header {
    display: block;
    text-align: center;
    padding: 60px 0 30px;
}
.latest_div {
    margin: 10px 25px;
    display: inline-block;
    box-shadow: -3px 4px 5px #7B7B7B;
    border-radius: 15px;
    width: 350px;
    height:450px;
}

.latest_image {
    height: 380px;
    width: 350px;
    opacity: 0.9;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.latest_div p {
    padding: 10px  10px 30px;
    text-align: center;
    font-size: 20px;
}
.latest_div:hover {
    box-shadow: -7px 4px 5px #7B7B7B;
}

.latest_div:hover  .latest_image{
    opacity: 1;
    background: black;
}

.div-body_content {
    background-color: #FFFFFF;
    border-radius: 15px;
}
.reads_more_text {
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.2em;
    margin-top: 30px;
}
.reads_more_text:hover {
    background-color: #7B7B7B;
    color: #FFFFFF;
}
.div-body_content p {
    padding-top: 19px;
    padding-left: 5px;
}
.latest_header h2 {
    font-size: 2.8em;
    font-weight: lighter;
}
.reads_more {
    text-align: center;
    padding:10px;
    background-color: #F1EFEC;
}




/* New Section */
/* Blogs section styles */
.blogs_section {
    background-color: #F1EFEC;
}
.blogs_body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 37px;
}
.blogs-body_content {
    background-color: #FFFFFF;
    border-radius: 15px;
}
.blogs_header {
    display: block;
    text-align: center;
    padding:0 0 30px;
}
.blogs_div {
    margin: 10px 25px;
    display: inline-block;
    box-shadow: -3px 4px 5px #7B7B7B;
    border-radius: 15px;
    width: 350px;
    height:450px;
}

.blogs_image {
    height: 360px;
    width: 350px;
    opacity: 0.9;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.blogs_header h2 {
    font-size: 2.8em;
    font-weight: lighter;
}
.blogs_div p {
    padding: 25px  10px 20px;
    text-align: center;
    font-size: 20px;
    

}
.blogs_div:hover {
    box-shadow: -7px 4px 5px #7B7B7B;
}

.blogs_div:hover  .blogs_image{
    opacity: 1;
    background: #222222;
}
.blogs_category {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 15px;
    left: 30px;
    font-size: 14px;
}

.blogs_time {
    position: relative;
    top: 15px;
    left: 30px;
    margin-left: 15px;
    color: rgb(105, 104, 104);
}
.read_more {
    text-align: center;
    padding:10px 0 30px;
    background-color: #F1EFEC;
}
.read_more_text {
    margin: 0 10px 10px;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.2em;
}

.read_more_text:hover {
    background-color: #7B7B7B;
    color: #FFFFFF;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #222222;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
  .blog_title_content {
    margin: 0 10px 10px;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2em;
    background-color:#FFFFFF;
    /* transition:  2s; */
  }
.blog_title {
    display: inline-block;
}
.blog_title_content:hover {
    background-color: black;
    
}

.blog_title_content:hover .dot{
    background-color: #FFFFFF;
}
.blog_title_content:hover .dot_text{
    color: #FFFFFF;
    
}








/* Vision Section  */
.vision_section {
    height: 500px;
    background-color: #F8F8F8;
    position: relative;
}
.vision_body {
    display: inline-block;
    position: absolute;
    top: 25%;
    text-align: center;
    left: 0; 
    right: 0; 
    margin-inline: auto;
    height: 200px;
    width: 650px;
    color: #222222;
}
.vision_body h3 {
    font-size: 2.1em;
    margin-bottom: 13px ;
}
.vision_body p {
    font-size: 1.3em;
}
.vision_body a {
    font-size: 1.2em;
    color: #222222;
    text-decoration: none;
}
.vision_body a:hover {
    color: #FFFFFF;
    font-size: 1.5em;
    background-color: #7B7B7B;
    padding: 10px;
    border-radius: 16px;
}
.book_call {
    margin-top: 90px;
}


/* Footer Section Styling */
.footer_section {
    height: 150px;
    background-color: #222222;
    position: relative;
}
.footer_nav ul li {
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    position: relative;
}
.footer_nav ul {
    display: flex;
    position: absolute;
    top: 40%;
    left: 5%;
    justify-content: flex-start;
    align-items: center;
}
.footer_nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 11px;
    
}

.footer_nav ul li:hover {
    background-color: #7B7B7B;
    color: rgb(70, 67, 67);
    text-align: center;
    font-size: 1.2em;
    
}

.nav_button {
    border-radius: 15px;
    margin-right: 5px;
    text-align: center;
}
/* .active {
    background-color: #7B7B7B;
} */



/* No display section */
.no_display {
    display: none;
}